#container {
    text-align: center;
}

#BothContainer {
    display: flex;
    padding: 1%;
    justify-content: center;
}

#mostViewedContainer {
    min-width: 40%;
    flex: 0;
    padding: 1%;
    margin-right: 2%;
    border-radius: 20px;
    background: rgb(146, 156, 161);
}

.mostViewedPages {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mostViewedContainer h1,
#mostCommentedContainer h1 {
    color: white;
    font-family: fantasy;
}

#mostCommentedContainer {
    min-width: 40%;
    flex: 0;
    padding: 1%;
    margin-left: 2%;
    border-radius: 20px;
    background: rgb(146, 156, 161);
}

.mostCommentedPages {
    overflow-y: scroll;
    height: 70vh;
    overflow-x: hidden;
}

.eachRow {
    background: rgb(89, 95, 98);
    border-radius: 20px;
    margin: 10px;
}

.eachRow p {
    padding: 20px;
    color: white;
}

.eachRow p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.eachRow p a:hover {
    color: rgb(98, 203, 255);
}

.mobileMostViewedContainer,
.mobileMostCommentedContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: 15px !important;
    margin: auto;
    /* padding: 10px !important; */
    min-width: 90% !important;
}

.mobileHeader {
    text-align: center;
}

.mostCommentedPages div,
.mobileMostViewedContainer div {
    text-align: center;
}