.analysisContainer {
    text-align: left;
    font-family: fantasy;
}

.analysisLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.analysisBothContainer {
    margin-top: 100px;
    display: flex;
    padding: 1%;
    justify-content: center;
}

.analysisMostViewedContainer {
    min-width: 80%;
    flex: 0;
    padding: 1%;
    margin-right: 2%;
    border-radius: 20px;
    background: rgb(146, 156, 161);
}

.analysisMostViewedContainer h1 {
    color: white;
    font-family: fantasy;
}

.analysisEachRow {
    background: rgb(89, 95, 98);
    border-radius: 20px;
    margin: 10px;
    font-family: fantasy;
}

.analysisEachRow div {
    padding: 20px;
    color: white;
}

.analysisEachRow div a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mobileAnalysisMostViewedContainer {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
    margin-top: 100px !important;
    min-width: 90% !important;
}

.mobileAnalysisContainer {
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden;

}

.mobileAnalysisMostViewedContainer div {
    text-align: center;
}

.analysisCenterChild {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.analysisCenterChild a {
    width: 33%;
}

.analysisCenterChild a:hover {
    width: 33%;
    color: white !important;
}

.analysisMajorTitle {
    font-weight: bold !important;
    text-decoration: underline !important;
    padding: 5px;
}

.analysisMajorTitle:hover {
    background-color: rgb(130, 130, 130) !important;
    border-radius: 5px;
}