#container {
    text-align: left;
    font-family: fantasy;
}

#BothContainer {
    display: flex;
    padding: 1%;
    justify-content: center;
}

#mostViewedContainer {
    min-width: 80%;
    flex: 0;
    padding: 1%;
    margin-right: 2%;
    border-radius: 20px;
    background: rgb(146, 156, 161);
}

.mostViewedPages {
    height: 83vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mostViewedContainer h1,
#mostCommentedContainer h1 {
    color: white;
    font-family: fantasy;
}

#mostCommentedContainer {
    min-width: 80%;
    flex: 0;
    padding: 1%;
    margin-left: 2%;
    border-radius: 20px;
    background: rgb(146, 156, 161);
}

.mostCommentedPages {
    overflow-y: scroll;
    height: 70vh;
    overflow-x: hidden;
}

.eachRow {
    background: rgb(89, 95, 98);
    border-radius: 20px;
    margin: 10px;
    font-family: fantasy;
}

.eachRow div {
    padding: 20px;
    color: white;
}

.eachRow div a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.eachRow div a:hover {
    color: rgb(255, 255, 255);
}

.mobileMostViewedContainer,
.mobileMostCommentedContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: 15px !important;
    margin: auto;
    /* padding: 10px !important; */
    min-width: 90% !important;
}

.mobileContainer {
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden;

}

.mobileHeader {
    text-align: center;
}

.mostCommentedPages div,
.mobileMostViewedContainer div {
    text-align: center;
}

.centerChild {
    display: flex; 
    justify-content: center;
    text-align: center;
}

.centerChild a {
    width: 33%;
}

.centerChild a:hover {
    width: 33%;
    color: white !important;
}

.majorTitle:hover {
    color: rgb(98, 203, 255) !important;
}