/* .mostCommentedContainer .input {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    border-radius: 5px;
}

.mostCommentedContainer .input input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.mostCommentedContainer .input button {
    width: 20%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.478);
    color: white;
}

.container {
    text-align: center;
}

.BothContainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.mostViewedContainer {
    height: 83vh;
    min-width: 20%;
    flex: 0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(146, 156, 161);
    overflow-y: scroll;
}

.chatUserContainer {
    min-width: 90% !important;
}

.mostViewedContainer h2 {
    color: white;
}

.mostCommentedContainer {
    min-width: 60%;
    flex: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(146, 156, 161);
    overflow-x: hidden;
    position: relative;
}

.chatContainer {
    min-width: 90% !important;
    height: 83vh;
}

.commentArea {
    overflow-y: auto;
    height: 73vh;
}

.mostCommentedContainer .eachRow {
    display: flex;
    margin: 10px;
    justify-content: right;
}

.mostCommentedContainer .eachRow div {
    background: rgb(89, 95, 98);
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%;
    overflow-x: auto;
    max-width: 50%;
}

.userChat {
    background: rgb(89, 95, 98);
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: 0;
}

.counterpartChat {
    color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: 0;
     border: 1px solid;
    border-color: white;
    border-radius: 10px;
}

.mostViewedContainer .eachRow {
    background: rgb(89, 95, 98);
    border-radius: 10px;
}

.mostViewedContainer .eachRow p {
    padding: 20px;
    color: white;
}

.mostViewedContainer .eachRow p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mostViewedContainer .eachRow p a:hover {
    color: rgb(98, 203, 255);
}

.sendChatBtn:hover {
    color: rgb(98, 203, 255) !important;
    cursor: pointer;
} */