#commentBtn {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 10px;
  margin-right: 5px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.closeBtn {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-left: 5px;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
}

#userInput {
  font-size: 16px;
  text-align: left;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: black;
  width: 100%;
  border-radius: 20px;
  resize: none;
  height: 150px !important;
}

#container {
  margin-top: 85px;
  text-align: center;
}

#ipnutContainer {
  margin: 10px;
}

.eachCommentDiv {
  box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
  padding: 10px;
  margin: 10px;
  width: auto;
  background-color: rgb(146, 156, 161);
  border-radius: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.username,
.replyUsername {
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-decoration: underline;
}

.username:hover,
.replyUsername:hover {
  background-color: rgb(212, 212, 212) !important;
  color: black !important;
  border-radius: 5px;
  cursor: pointer;
}

.commentButtonContainer {
  display: flex;
  justify-content: center;
}

.comment {
  display: flex;
  color: rgb(255, 255, 255);
  margin: 10px;
  text-align: left;
  font-size: 20px;
}

.usernameDateContainer {
  display: flex;
}

.date {
  font-size: 16px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.589);
  margin: 15px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.firstRow svg {
  cursor: pointer;
  position: absolute;
  right: 3px;
}

.lastRow {
  display: flex;
  justify-content: flex-end;
}

.replySvg {
  margin-right: 5px !important;
}

.replyParagraph {
  display: flex;
  color: rgb(255, 255, 255);
  margin: 0px;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  margin-top: -20px;
}

.like {
  display: flex;
  text-align: center;
}

.like,
.reply,
.viewReply {
  box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
  font-size: 16px;
  margin: 10px;
   border: 1px solid;
  background-color: rgba(255, 255, 255, 0.478);
  /* color: rgb(255, 255, 255); */
  border-radius: 20px;
  width: auto;
  color: white;
  cursor: pointer;
  /* padding: 10px; */
  border-color: rgb(146, 156, 161);
   
}

.replyContainer,
.viewReplyContainer {
  display: none;
}

.replyContainers {
  box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
  /* color: white; */
  /* background-color: rgb(89, 95, 98); */
   /* border: 1px solid; */
  /* text-align: left; */
  border-radius: 20px;
  margin: 5px;
  /* padding: 10px; */
  background: rgba(255, 255, 255, 0.478);
}

.replyContainer textarea {
  font-size: 16px;
  border-color: black;
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
   border: 1px solid;
  height: 100px !important;
  resize: none;
}

.replyContainer button,
.editBtn,
.editCancelBtn,
.editReplyBtn {
  box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
  font-size: 16px;
  width: 30%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.478);
  color: rgb(255, 255, 255);
   border: 1px solid;
  border-color: rgb(146, 156, 161);
   
}

.editReplyBtn {
  border-color: rgb(89, 95, 98) !important;
}

button:hover,
#commentBtn:hover {
  cursor: pointer;
}

.commentDropdown {
  cursor: pointer;
  position: absolute;
  right: 23px;
}

.replyDropdown {
  margin: 0 !important;
  background-color: transparent !important;
  cursor: pointer;
  position: absolute;
  right: 27px;
}

.comment-dropdown-content {
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #000000 !important;
  top: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  border-radius: 20px;
}

.reply-dropdown-content {
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #000000 !important;
  top: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  border-radius: 20px;
}

.commentLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.height {
  height: 116px;
}

.editContainer {
  display: none;
}

.replyEditContainer {
  display: none;
}

.closeEditBtn {
  display: none;
  margin: 3px;
}

.comment-dropdown-content a {
   
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 15px;
  border-radius: 20px;
}

.reply-dropdown-content a {
   
  color: rgb(255, 255, 255);
  padding: 8px 16px !important;
  text-decoration: none !important;
  font-size: 18px !important;
  display: block !important;
  padding: 15px !important;
  border-radius: 20px !important;
}

.commentEditTextarea {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
  height: 100px !important;
  resize: none;
}

.replyEditTextarea {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
  height: 100px !important;
  resize: none;
}

.replyDropdown svg {
  cursor: pointer;
  position: absolute;
  right: 10px !important;
}

.closeReplyEditBtn {
  display: none;
  margin: 3px;
}