#commentBtn {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 100%;
  /* margin: 10px; */
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  font-family: fantasy;
}

#commentBtn:hover {
  color: rgb(184, 184, 184);
}

.closeBtn {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  font-family: fantasy;
}

.closeBtn:hover,
.replyCloseBtn:hover {
  color: rgb(184, 184, 184);
}

#userInput {
  text-align: left;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  resize: none;
  height: 150px !important;
}

#container {
  text-align: center;
}

#ipnutContainer {
  margin: 10px;
}

.eachCommentDiv {
  padding: 10px;
  margin: 10px;
  width: auto;
  background: rgb(146, 156, 161);
  border-radius: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.username,
.replyUsername {
  font-weight: bold;
  color: white;
  margin: 10px;
  text-decoration: none;
}

.username:hover,
.replyUsername:hover {
  color: rgb(98, 203, 255);
}

.comment {
  display: flex;
  color: rgb(255, 255, 255);
  margin: 10px;
  text-align: left;
  font-size: 30px;
}

.usernameDateContainer {
  display: flex;
}

.date {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.478);
  margin: 10px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.firstRow svg {
  cursor: pointer;
}

.lastRow {
  display: flex;
  justify-content: flex-end;
}

.like,
.reply,
.viewReply {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.478);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: auto;
  cursor: pointer;
  padding: 10px;
  border-color: rgb(146, 156, 161);
  font-family: fantasy;
}

.replyContainer,
.viewReplyContainer {
  display: none;
}

.viewReplyContainer div div {
  color: white;
  background-color: rgb(89, 95, 98);
  padding: 20px;
  text-align: left;
  /* border-style: solid;
  border-color: rgb(255, 255, 255); */
  border-radius: 20px;
  margin-top: 10px;
}

.replyContainer textarea {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
  height: 100px !important;
  resize: none;
}

.replyContainer button {
  width: 30%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.478);
  color: white;
  border-color: rgb(146, 156, 161);
  font-family: fantasy;
}

button:hover,
#commentBtn:hover {
  color: rgb(184, 184, 184);
  cursor: pointer;
}