#commentBtn {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  font-family: fantasy;
}

#commentBtn:hover {
  color: rgb(184, 184, 184);
}

.closeBtn {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  font-family: fantasy;
}

.closeBtn:hover,
.replyCloseBtn:hover {
  color: rgb(184, 184, 184);
}

#userInput {
  text-align: left;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  resize: none;
  height: 150px !important;
}

#container {
  text-align: center;
}

#ipnutContainer {
  margin: 10px;
}

.eachCommentDiv {
  padding: 10px;
  margin: 10px;
  width: auto;
  background: rgb(146, 156, 161);
  border-radius: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.username,
.replyUsername {
  font-weight: bold;
  color: white;
  margin: 10px;
  text-decoration: none;
  font-family: fantasy;
  text-decoration: underline;
}

.username:hover,
.replyUsername:hover {
  color: rgb(98, 203, 255) !important;
  cursor: pointer;
}

.comment {
  display: flex;
  color: rgb(255, 255, 255);
  margin: 10px;
  text-align: left;
  font-size: 30px;
}

.usernameDateContainer {
  display: flex;
}

.date {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.478);
  margin: 10px;
  font-family: fantasy;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.firstRow svg {
  cursor: pointer;
  position: absolute;
  right: 3px;
}

.lastRow {
  display: flex;
  justify-content: flex-end;
}

.replySvg {
  margin-right: 5px !important;
}

.replyParagraph {
  display: flex;
  color: rgb(255, 255, 255);
  margin: 10px;
  text-align: left;
  font-size: 30px;
  padding: 10px;
  margin-top: -20px;
}

.like,
.reply,
.viewReply {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.478);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: auto;
  cursor: pointer;
  padding: 10px;
  border-color: rgb(146, 156, 161);
  font-family: fantasy;
}

.replyContainer,
.viewReplyContainer {
  display: none;
}

.viewReplyContainer div div {
  color: white;
  background-color: rgb(89, 95, 98);
  /* text-align: left; */
  border-radius: 20px;
  margin: 5px;
  /* padding: 10px; */
}

.replyContainer textarea {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
  height: 100px !important;
  resize: none;
}

.replyContainer button,
.editBtn,
.editCancelBtn {
  width: 30%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.478);
  color: white;
  border-color: rgb(146, 156, 161);
  font-family: fantasy;
}

button:hover,
#commentBtn:hover {
  color: rgb(184, 184, 184);
  cursor: pointer;
}


.commentDropdown {
  cursor: pointer;
  position: absolute;
  right: 23px;
}

.comment-dropdown-content {
  /* display: none; */
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #000000 !important;
  top: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  border-radius: 20px;
}

.commentLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.height {
  height: 116px;
}

.editContainer {
  display: none;
}

.closeEditBtn {
  display: none;
  margin: 3px;
}

.comment-dropdown-content a {
  font-family: fantasy;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 15px;
  border-radius: 20px;
}

.comment-dropdown-content a:hover {
  color: rgb(255, 25, 0);
}

.commentEditBtn:hover {
  color: rgb(0, 136, 255) !important;
}

.commentEditTextarea {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
  height: 100px !important;
  resize: none;
}