.loginContainer {
  display: flex;
  justify-content: center;
}

.loginForm {
  height: 60%;
  width: 60%;
  padding: 10%;
  margin-top: 0%;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.mobileLoginForm {
  height: 80% !important;
  padding: 10% !important;
  margin: 10% !important;
  margin-top: 10% !important;
  border-radius: 20px !important;
  border: 1px solid #ccc !important;
}

.loginForm h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-family: fantasy;
}

.loginInput {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  font-family: fantasy;
}

.loginButton {
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-family: fantasy;
}

.signInBtn {
  background-color: rgb(0, 149, 255);
  color: white;
}