.onlineDiv {
    height: 83vh;
    min-width: 80%;
    flex: 0;
    padding: 10px;
    border-radius: 10px;
    background: rgb(146, 156, 161);
  }
  
  .onlineHead {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 2%;
  }
  
  .onlineHead div {
    padding: 10px;
    color: white;
    font-size: 30px;
    width: 16%;
    text-align: center;
  }
  
  .onlineBody {
    overflow-y: scroll;
    justify-content: center;
    padding: 10px;
    height: 67vh;
  }
  
  .container {
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  
  .eachRow {
    padding: 10px;
    justify-content: center;
    margin: 20px;
    background: rgb(89, 95, 98);
    border-radius: 10px;
  }
  
  .row {
    justify-content: center;
    display: flex;
    padding: 10px;
    color: white;
    width: 100%;
  }
  
  .row div {
    width: 16%;
    padding: 10px;
    text-align: center;
  }
  
  .row div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .row div a:hover {
    color: rgb(98, 203, 255);
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    margin: 3px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }