.profileContainer {
    text-align: left;
    font-family: fantasy;
}

.profileBothContainer {
    display: flex;
    padding: 1%;
    justify-content: center;
}

.profileLoader {
    display: flex;
    justify-content: center;
}

.profileMostViewedContainer {
    flex: 0;
    padding: 10px;
    border-radius: 20px;
    background: rgb(146, 156, 161);
}

.profileMostViewedContainer h3 {
    color: white;
    font-family: fantasy;
}

.profileMostCommentedPages {
    overflow-y: scroll;
    height: 70vh;
    overflow-x: hidden;
}

.profileEachRow {
    background: rgb(89, 95, 98);
    border-radius: 20px;
    margin: 10px;
    font-family: fantasy;
}

.profileEachRow div {
    padding: 20px;
}

.profileEachRow div {
    padding: 20px;
    color: white;
}

.profileEachRow a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.profileEachRow p {
    text-align: center;
}

.profileDesktopHeader {
    margin: 20px;
}

.profileEachRow p a:hover {
    background-color: rgb(130, 130, 130) !important;
    border-radius: 5px;
}

.profileEachRow p a {
    text-decoration: underline !important;
    padding: 5px;
}

.profileMobileMostViewedContainer {
    margin-bottom: 15px !important;
    margin-top: 85px !important;
}

.profileMobileContainer {
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.profileMobileMostViewedContainer div {
    text-align: center;
}