.profileContainer {
    text-align: left;
     
}

.profileBothContainer {
    margin-top: 85px;
    display: flex;
    padding: 1%;
    justify-content: center;
}

.profileMobileContainer h2 {
    margin-top: 20px;
}

.profileUserDetailsDesktopContainer {
    display: flex !important;
    justify-content: center;
}

.profileUserDetailsDesktopContainer div {
    width: 25%;
}

.profileUserDetailsMobileContainer div {
    justify-content: left !important;
}

.profileUserDetailsContainer div {
    display: flex;
    justify-content: center;
    padding: 0px !important;
}

.profileUserDetailsContainer div svg {
    padding-top: 20px;
    margin-right: 10px;
}

.profileUserDetailsContainer {
    text-align: left !important;
}

.profileUserDetailsContainer p {
    margin-top: 25px;
    text-align: left !important;
}

.profileUsernameContainer svg {
    margin: 30px;
}

.profileUsernameContainer h3 {
    margin-top: 33px;
    margin-left: -14px;
}

.profileLoader {
    display: flex;
    justify-content: center;
}

.profileMostViewedContainer {
    flex: 0;
    /* padding: 10px; */
    border-radius: 20px;
    min-width: 100%;
    /* background: rgb(146, 156, 161); */
}

.profileMostCommentedPages {
    overflow-y: scroll;
    height: 70vh;
    overflow-x: hidden;
}

.profileEachRow {
    box-shadow: -3px 5px 3px rgb(0, 0, 0);
    background-color: rgb(146, 156, 161);
    /* background: rgb(89, 95, 98); */
    /* border: 1px solid; */
    border-radius: 20px;
    margin: 10px;
}

.profileEachRow div {
    padding: 20px;
}

.profileEachRow div {
    padding: 20px;
    color: rgb(255, 255, 255);
}

.profileEachRow a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.profileEachRow p {
    text-align: center;
}

.profileDesktopHeader {
    margin: 20px;
}

.profileEachRow p a:hover {
    background-color: rgb(130, 130, 130) !important;
    border-radius: 5px;
}

.profileEachRow p a {
    text-decoration: underline !important;
    padding: 5px;
}

.profileMobileMostViewedContainer {
    margin-bottom: 15px !important;
    margin-top: 85px !important;
}

.profileMobileContainer {
    min-width: auto !important;
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}