.profileContainer {
    text-align: left;
    font-family: fantasy;
}

.profileBothContainer {
    display: flex;
    padding: 1%;
    justify-content: center;
}

.profileLoader {
    display: flex;
    justify-content: center;
}

.profileMostViewedContainer {
    min-width: 80%;
    flex: 0;
    padding: 1%;
    margin-right: 2%;
    border-radius: 20px;
    background: rgb(146, 156, 161);
}

.profileMostViewedPages {
    height: 83vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profileMostViewedContainer h3 {
    color: white;
    font-family: fantasy;
}

.profileMostCommentedPages {
    overflow-y: scroll;
    height: 70vh;
    overflow-x: hidden;
}

.profileEachRow {
    background: rgb(89, 95, 98);
    border-radius: 20px;
    margin: 10px;
    font-family: fantasy;
}

.profileEachRow div {
    padding: 20px;
}

.profileEachRow div {
    padding: 20px;
    color: white;
}

.profileEachRow a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.profileEachRow p {
    text-align: center;
}

.profileDesktopHeader {
    margin: 20px;
}

.profileEachRow p a:hover {
    color: rgb(98, 203, 255);
}

.profileEachRow p a {
    text-decoration: underline !important;
}

.profileMobileMostViewedContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: 15px !important;
    margin: auto;
    min-width: 90% !important;
}

.profileMobileContainer {
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.profileMobileMostViewedContainer div {
    text-align: center;
}