.mainContainer {
    margin-top: 20px;
    background-color:rgb(146, 156, 161);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.eachContainer input {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    font-family: fantasy;
}

.eachContainer button {
    display: inline-block;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: fantasy;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.eachContainer button:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.twoContainer {
    justify-content: center;
    display: flex;
    margin: 10px;
}

.eachContainer {
    align-items: center;
    background: #595f62;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.eachContainer h3 {
    margin-left: 20px;
    color: white;
    font-family: fantasy;
}

.btnContainer {
    position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   color: white;
   text-align: center;
    margin: 20px;
    padding: 20px;
}

.mobileContainer {
    overflow: hidden;
    min-width: 100% !important;
    margin-bottom: 30px;
}

select {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    font-family: fantasy;
}

.centerChild {
    display: flex; 
    justify-content:center;
}