.requestMainContainer {
    margin-top: 20px;
    background-color:rgb(146, 156, 161);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.requestEachContainer input {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    font-family: fantasy;
}

.requestEachContainer button {
    display: inline-block;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: fantasy;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.requestEachContainer button:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.requestEachContainer {
    align-items: center;
    background: #595f62;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.requestEachContainer h3 {
    margin-left: 20px;
    color: white;
    font-family: fantasy;
}

.requestSelect {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    font-family: fantasy;
}

.requestCenterChild {
    display: flex; 
    justify-content:center;
}