.backgroundContainer {
    overflow-y: auto;
    height: 83vh;
    min-width: 80%;
    flex: 0;
    padding: 10px;
    border-radius: 10px;
    background: rgb(146, 156, 161);
}

.mainContainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.eachContainer input {
    width: 40%;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.btnContainer button {
    width: 10%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.478);
    color: white;
}

.twoContainer {
    margin-left: 1%;
    justify-content: center;
    display: flex;
}

.eachContainer {
    min-width: 50%;
    align-items: center;
}

.eachContainer input {
    width: 90%;
}

.eachContainer h3 {
    margin-left: 20px;
    color: white;
}

.btnContainer {
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 10px;
    margin-top: 100px;
}

.btnContainer button {
    width: 50%;
}