.settingEachContainer input {
    width: 90%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
     
}

.settingEachContainer select {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
     
}

.backgroundContainer {
    margin-top: 85px !important;
    /* margin-left: 20px !important;
    margin-right: 20px !important; */
    margin-bottom: 20px !important;
    /* padding: 5px !important; */
}

.settingEachContainer button {
    display: inline-block;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
     
    width: 100%;
    margin: 10px;
    padding: 20px;
    border-color: black;
}

.settingEachContainer button:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.settingEachContainer {
    min-width: 45%;
    align-items: center;
    border-style: solid;
    /* background: #595f62; */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.settingDesktopEachContainer {
    padding: 30px !important;
    margin: 30px !important;
}

.settingEachContainer h3 {
    margin-left: 20px;
    color: rgb(0, 0, 0);
     
}

.settingMobileContainer {
    overflow: hidden;
    min-width: auto !important;
    padding: 10px;
    /* border-style: solid; */
    /* background:rgb(146, 156, 161); */
    border-radius: 20px;
    /* margin: 10px; */
    /* margin-bottom: 30px; */
}

.settingMobileContainer div input {
    width: 100% !important;
}

.settingCenterChild {
    display: flex;
    justify-content: center;
}

.settingLoader {
    display: flex;
    justify-content: center;
}