/* .backgroundContainer {
    overflow-y: auto;
    height: 83vh;
    min-width: 80%;
    flex: 0;
    padding: 10px;
    border-radius: 10px;
    background: rgb(146, 156, 161);
} */

.mainContainer {
    margin-top: 20px;
    background-color:rgb(146, 156, 161);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.desktopContainer {
    margin: 10px !important;
}


.eachContainer input {
    width: 90%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    font-family: fantasy;
}

.eachContainer button {
    display: inline-block;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: fantasy;
    width: 100%;
    margin: 10px;
    padding: 20px;
    border-color: black;
}

.eachContainer button:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.twoContainer {
    justify-content: center;
    display: flex;
}

.passwordContainer {
    background: rgb(146, 156, 161);
    border-radius: 20px;
}

.eachContainer {
    min-width: 45%;
    align-items: center;
    background: #595f62;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.eachContainer h3 {
    margin-left: 20px;
    color: white;
    font-family: fantasy;
}

.btnContainer {
    justify-content: center;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    /* background: rgb(146, 156, 161); */
    border-radius: 20px;
}

.mobileContainer {
    overflow: hidden;
    /* height: auto; */
    min-width: auto !important;
    padding: 10px;
    background:rgb(146, 156, 161);
    border-radius: 20px;
    margin: 10px;
    margin-bottom:30px;
}

.mobileContainer div input {
    width: 100% !important;
}

.centerChild {
    display: flex;
    justify-content: center;
}