.userOnlineDiv {
  height: 83vh;
  flex: 0;
  border-radius: 20px;
  background: rgb(146, 156, 161);
  width: 100%;
  margin-top: 20px !important;
}

.userLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.userOnlineHead {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 2%;
  margin-top: 20px !important;
}

.userOnlineHead div {
  padding: 10px;
  color: white;
  font-size: 30px;
  width: 12%;
  text-align: center;
}

.userOnlineBody {
  justify-content: center;
  padding: 10px;
  height: 65vh;
  margin-top: -10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.userContainer {
  display: flex;
  padding: 10px;
  justify-content: center;
  overflow: hidden;
  font-family: fantasy;
}

.userEachRow {
  padding: 10px;
  justify-content: center;
  margin: 20px;
  background: rgb(89, 95, 98);
  border-radius: 20px;
  overflow: hidden;
}

.userRow {
  justify-content: center;
  display: flex;
  padding: 10px;
  color: white;
  width: 100%;
}

.userRow div {
  width: 16%;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.userRow div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.userRow div a:hover {
  color: rgb(98, 203, 255) !important;
  cursor: pointer;
}

.userMostViewedContainer {
  min-width: 40%;
  flex: 0;
  padding: 1%;
  margin-right: 2%;
  border-radius: 20px;
  background: rgb(146, 156, 161);
}

.mobileUserMostViewedContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: 15px !important;
    margin: auto;
    min-width: 90% !important;
}

.userAlignChild {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.userAlignChild a {
  width: 80%;
  overflow-x: scroll;
  color: white;
  font-family: fantasy;
}

.userMobileUsername {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.userInputText {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.userInputContainer {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.userMobileInputContainer {
  display: flex;
  justify-content: center;
  margin: 15px;
}