.onlineDiv {
  height: 83vh;
  flex: 0;
  /* padding: 10px; */
  border-radius: 20px;
  background: rgb(146, 156, 161);
  width: 100%;
}

.onlineHead {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 2%;
}

.threeContainer {
  display: flex;
}

.threeContainer div {
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}

.onlineHead div {
  padding: 10px;
  color: white;
  font-size: 30px;
  width: 16%;
  text-align: center;
}

.onlineBody {
  /* overflow-y: scroll; */
  justify-content: center;
  padding: 10px;
  height: 67vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mobileBody {
  height: 78vh !important;
  padding: auto !important;
}

.container {
  display: flex;
  padding: 10px;
  justify-content: center;
  overflow: hidden;
}

.eachRow {
  padding: 10px;
  justify-content: center;
  margin: 20px;
  background: rgb(89, 95, 98);
  border-radius: 20px;
  overflow: hidden;
}

.row {
  justify-content: center;
  display: flex;
  padding: 10px;
  color: white;
  width: 100%;
}

.mobileRow {
  display: block !important;
  padding: 0 !important;
}

.mobileRow div {
  width: 120% !important;
  display: flex;
  justify-content: initial;
  overflow-x: scroll;
}

.mobileRow div svg,
.mobileRow div a,
.mobileRow div p {
  margin: 10px;
}

.mobileDiv {
  min-width: auto !important;
}

.row div {
  width: 16%;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.row div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.row div a:hover {
  color: rgb(98, 203, 255);
}

footer {
  display: none;
}