.onlineDiv {
  height: 83vh;
  flex: 0;
  border-radius: 20px;
  background: rgb(146, 156, 161);
  width: 100%;
  margin-top: 20px !important;
}

.onlineHead {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 2%;
  margin-top: 20px !important;
}

.threeContainer {
  display: flex;
}

.threeContainer div {
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}

.onlineHead div {
  padding: 10px;
  color: white;
  font-size: 30px;
  width: 16%;
  text-align: center;
}

.onlineBody {
  justify-content: center;
  padding: 10px;
  height: 65vh;
  margin-top: -10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  display: flex;
  padding: 10px;
  justify-content: center;
  overflow: hidden;
  font-family: fantasy;
}

.eachRow {
  padding: 10px;
  justify-content: center;
  margin: 20px;
  background: rgb(89, 95, 98);
  border-radius: 20px;
  overflow: hidden;
}

.row {
  justify-content: center;
  display: flex;
  padding: 10px;
  color: white;
  width: 100%;
}

.row div {
  width: 16%;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.row div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.row div a:hover {
  color: rgb(98, 203, 255) !important;
  cursor: pointer;
}

footer {
  display: none;
}

#mostViewedContainer {
  min-width: 40%;
  flex: 0;
  padding: 1%;
  margin-right: 2%;
  border-radius: 20px;
  background: rgb(146, 156, 161);
}

.mobileMostViewedContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: 15px !important;
    margin: auto;
    min-width: 90% !important;
}

.alignChild {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.alignChild a {
  width: 80%;
  overflow-x: scroll;
  color: white;
  font-family: fantasy;
}

.mobileUsername {
  font-weight: bold !important;
  text-decoration: underline !important;
}