<footer>
    <div class="footerDiv">
        <h1>Comment On Your Major</h1>
        <a href="mailto:nikolaikim27@gmail.com">nikolaikim27@gmail.com</a></p>
        <p>Copyright &copy; <%= new Date().getFullYear();%> COYM</p>
    </div>
</footer>