<header style="height: 10px;">
    <% if(user === ''){ %>
        <div id="userId" style="margin-right: -80px;"><a href="http://localhost:3000/login"
        >Login</a></div>
      <% } else{ %>  
        <div id="userId" data-toggle="modal" data-target="#myModal">
          <img src='../img/accountIMG.jpeg' style='width: 50px; height: 50px; margin-left: 110px; margin-top: -5px;'>
        </div>
     <% } %>
</header>
<hr id="hrAfterHeader">