<header style="height: 10px;">
  <span style="font-size:40px; margin-left: 10px; cursor:pointer" onclick="sidebarOpen()">&#9776;</span>
    <% if(user === ''){ %>
        <div id="userId" style="width: 100px; margin-right: -90px;"><a href="/login" id="signIn"
        >Sign in</a></div>
      <% } else{ %>  
          <img data-toggle="modal" data-target="#myModal" src='../img/accountIMG.jpeg' style='position: absolute;
            right: 10px;
            background-color: rgb(255, 255, 255);
            font-family: fantasy;
            top: 8px;
            width: 50px;
            height: 50px;
            cursor: pointer;
          font-size: 30px;'>
     <% } %>
</header>