<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="sidebarClose()">&times;</a>
    <a href="/home">Home</a>
    <a href="/online">Online</a>
    <a href="/chat">Chat</a>
    <a href="/chart">Chart</a>
    <a href="/about">About</a>
    <a onclick="window.location.href = 'mailto:nikolaikim27@google.com'">Contact</a>
</div>