<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <header style="height: 10px;">
        <div id="userId" data-toggle="modal" data-target="#myModal"><%= user %></div>
    </header><hr id="hrAfterHeader">

    <center>
        <h1 id="header">Chat</h1><hr>

        <div style="display: flex;">
            <div style="flex: 0;">
                <center>
                    <table style="margin-right: 300px" id="chatUsers">
                        <p>asdnasldsa</p><hr>
                        <p>asdnasldsa</p><hr>
                        <p>asdnasldsa</p><hr>
                        <p>asdnasldsa</p><hr>
                        <p>asdnasldsa</p><hr>
                        <p>asdnasldsa</p><hr>
                        <p>asdnasldsa</p><hr>
                        <p>asdnasldsa</p><hr>
                    </table>
                </center>
            </div>

            <div class="vl"></div>

            <div style="flex: 0;">
                <div id="texts" style="border: 1px solid black; width: 133vh; margin: 20px; height: 65vh;">
                    asdfs<hr>
                    safdsdf<hr>
                    asdf
                </div>
                <div style="display: flex; margin: 20px;">
                    <input type="text" style="width: 100vh;">
                    <button style="flex: 1;">Enter</button>
                </div>
            </div>
        </div>

    </center>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sub/menuBar.js"></script>
<script src="/js/sub/profileModal.js"></script>
<script src="/js/chat.js"></script>
</html>