<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/header'); -%>
    <center>
        <h1 id="header" class="waviy">
            <span style="--i:0">C</span>
            <span style="--i:1">h</span>
            <span style="--i:2">a</span>
            <span style="--i:3">t</span>
        </h1><hr>

        <div style="display: flex;">
            <div style="flex: 0; margin-right: 20px;">
                <table style="margin-left: 20px;" id="chatUsers"></table>
            </div>

            <div class="vl"></div>

            <div style="flex: 0;">
                <div id="texts" style="border: 1px solid black; width: 143vh; margin: 20px; height: 65vh; overflow-y: scroll; border-radius: 5px;">
                    <table id="chatContents"></table>
                </div>
                <div style="display: flex; margin: 20px;">
                    <input type="text" style="width: 100vh; border-color: rgb(235, 235, 235); border-radius: 5px;" id="chatContent" placeholder="Type here...">
                    <button style="flex: 1; background-color: rgb(54, 153, 207); width: 10px; color: white; border-radius: 5px;" onclick="sendChat()">></button>
                </div>
            </div>
        </div>

    </center><hr style="margin-top: -1px;">
    <%- include('partials/footer'); -%>
</body>
<%- include('partials/script'); -%>
<script src="/js/chat.js"></script>
</html>