<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/header'); -%>
    <center>
        <h1 id="header">Chat</h1><hr>

        <div style="display: flex;">
            <div style="flex: 0; margin-right: 30px;">
                <table style="margin-left: 30px;" id="chatUsers"></table>
            </div>

            <div class="vl"></div>

            <div style="flex: 0;">
                <div id="texts" style="border: 1px solid black; width: 133vh; margin: 20px; height: 65vh;">
                    <table id="chatContents"></table>
                </div>
                <div style="display: flex; margin: 20px;">
                    <input type="text" style="width: 100vh;" id="chatContent">
                    <button style="flex: 1;" onclick="sendChat()">Enter</button>
                </div>
            </div>
        </div>

    </center>

</body>
<%- include('partials/script'); -%>
<script src="/js/chat.js"></script>
</html>