<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header style="height: 10px;">
        <div id="userId" data-toggle="modal" data-target="#myModal"><%= user %></div>
    </header><hr id="hrAfterHeader">

    <center>
        <h1 id="occupationTitle"></h1>
        <div id="inputAndCommentBtn">
            <input type="text" id="userInput" placeholder="Comment here">
            <button id="searchBtn">Comment</button>
        </div><hr>
        <div id="comments"></div>
    </center>
    
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/sub/menuBar.js"></script>
<script src="/js/sub/profileModal.js"></script>
</html>
