<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/header'); -%>
    <center>
        <h1 id="occupationTitle"></h1>
        <div id="inputAndCommentBtn">
            <input type="text" id="userInput" placeholder="Comment here">
            <button id="searchBtn">Comment</button>
        </div><hr>
        <div id="comments"></div>
    </center>
</body>
<%- include('partials/script'); -%>
<script src="/js/comment.js"></script>
</html>
