<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/header'); -%>
    <center>
        <h1 id="header" class="waviy" style="color: black;">
            <span style="--i:1">C</span>
            <span style="--i:2">o</span>
            <span style="--i:3">m</span>
            <span style="--i:4">m</span>
            <span style="--i:5">e</span>
            <span style="--i:6">n</span>
            <span style="--i:7">t</span>
            <span style="--i:8">-</span>
            <span style="--i:9">O</span>
            <span style="--i:10">n</span>
            <span style="--i:11">-</span>
            <span style="--i:12">Y</span>
            <span style="--i:13">o</span>
            <span style="--i:14">u</span>
            <span style="--i:15">r</span>
            <span style="--i:16">-</span>
            <span style="--i:17">O</span>
            <span style="--i:18">c</span>
            <span style="--i:19">u</span>
            <span style="--i:20">p</span>
            <span style="--i:21">a</span>
            <span style="--i:22">t</span>
            <span style="--i:23">i</span>
            <span style="--i:24">o</span>
            <span style="--i:25">n</span>
        </h1><hr>
        <div style="display: flex;">

            <div style="margin-left: 100px;">
                <h2 style="margin-left: 10px;">What can you benefit from the website?</h2>
                <ol style="padding: 20px;">
                    <li>1. Ease a pain of choosing a major for the pre-university students.</li><br><br>
                    <li>2. Chat with the experts of the occupation you're interested in.</li><br><br>
                    <li>3. Read all the comments from people in the occupation.</li><br>
                </ol>
                <h2 style="margin-left: 10px;">Recent Comments</h2>
                <div style="
                        height: 38vh;
                        width: 500px;
                        flex: 0;
                        padding: 10px;
                        margin-top: 20px;
                        margin-left: 20px;
                        border-radius: 5px;
                        border-style: solid;
                        overflow-y: scroll;"
                    >
                    <table id="recentCommentsTable"></table>
                </div>
            </div>
            <div style="padding: 20px; border-radius: 5px; border-style: solid; margin-left: 170px;">
                <input type="text" id="userInput" placeholder="Search here..." style="width: 500px;">
                <div style="
                        height: 68vh;
                        width: 500px;
                        flex: 0;
                        padding: 10px;
                        margin-top: 20px;
                        border-radius: 5px;
                        border-style: solid;
                        overflow-y: scroll;"
                    >
                    <table id="occupationTable"></table>
                </div>
            </div>
        </div>
    </center>
    <%- include('partials/footer'); -%>
</body>
<%- include('partials/script'); -%>
<script src="/js/home.js"></script>
</html>