<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/header'); -%>
    <center>
        <h1 id="header">Comment on your occupation</h1>
            <!-- <input type="text" id="userInput" placeholder="Search here">
            <button onclick="searchOccupations()" id="searchBtn">Search</button> -->
            <hr>
        <table id="occupationTable"></table>
    </center>

</body>
<%- include('partials/script'); -%>
<script src="/js/home.js"></script>
</html>