<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <center style="margin-top: 30vh">
        <h1 style="color: rgb(0, 0, 0)">Comment On Your <b style="color: rgb(54, 153, 207)">Major</b></h1>
            <% if(user !== undefined){ %>
                Welcome back <b><%= user %></b><br>
            <% } %>
        </h3>
        <b>Get some ideas about the major you're intersted in!</b><br>
        <div style="margin-top: 10px;">
            <button class="waviy" onclick="location.href='/home'" style="border: solid; border-radius: 10%; background: rgb(255, 255, 255); color: rgb(171, 171, 171); width: 80px !important;">
                <span style="--i:1">S</span>
                <span style="--i:2">t</span>
                <span style="--i:3">a</span>
                <span style="--i:4">r</span>
                <span style="--i:5">t</span>
            </button>
            <% if(user === undefined){ %>
                <a href="/login" class="loginBtn" style="margin-left: 10px;">Sign in</a>
            <% } %>
    </center>
</body>
</html>
