<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <center>
        <hr id="hrAfterHeader">
            <div id="greetLoggedinUser">
                Welcome back <b id="username"><%= user %></b>
            </div>
        </h3>
        <p>Get some ideas about the occupation you're intersted in!</p>
        <button onclick="directPage('home')">
            Start
        </button>
        <button onclick="directPage('login')" class="loginBtn">
            Login
        </button>
    </center>
</body>
<script src="/js/index.js"></script>
</html>