<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <%- include('partials/navigation'); -%>
    <span
      style="font-size: 40px; margin-left: 10px; cursor: pointer"
      onclick="sidebarOpen()"
      >&#9776;</span
    >
    <header style="margin-top: -10px"></header>
    <hr id="hrAfterHeader" />

    <center id="loginContainer" style="height: 900px">
      <h1 id="header" style="font-size: 80px;">Login</h1><br>
      <form action="/auth" method="post">
        <input
          type="text"
          name="username"
          placeholder="Enter your ID"
          style="font-size: 80px; border-radius: 10px;"
          required
        /><br /><br />
        <input
          type="password"
          name="password"
          placeholder="Enter your Password"
          style="font-size: 80px; border-radius: 10px;"
          required
        /><br /><br />
        <button type="submit" value="login" style="font-size: 50px; border-radius: 10px; background-color: white;">Login</button>
        <p style="font-size: 50px;">Register <a href="/register">here</a>!</p>
      </form>
    </center>
    <%- include('partials/footer'); -%>
  </body>
  <%- include('partials/script'); -%>
</html>
