<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <%- include('partials/header'); -%>
    <center>
        <h1 id="header">Online Users</h1><hr>

        <div style="display: flex; padding: 10px; justify-content: center;">
            <div style="
                height: 70vh;
                min-width: 40%;
                flex: 0;
                background-color: rgb(235, 235, 235);
                padding: 10px; 
                margin-right: 30px; 
                border-radius: 5px;"
            >
                <table id="friendsList" class="table table-striped header-fixed"></table>
            </div>
            <div style="
                height: 70vh;
                min-width: 40%;
                flex: 0;
                background-color: rgb(235, 235, 235);
                padding: 10px;
                margin-left: 30px;
                border-radius: 5px;"
            >
                <table id="loggedinUser" class="table table-striped header-fixed"></table>
            </div>
        </div>
    </center>

    <div class="modal fade" id="showOtherUserProfileModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <% if(user === ''){ %>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <% } else{ %>
                        <button type="button" class="btn btn-default loginBtn" onclick="requestFriends()">
                            Request friends
                        </button>
                        <button type="button" class="btn btn-default loginBtn" onclick="sendChats()">
                            Send a chat
                        </button>
                     <% } %>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include('partials/script'); -%>
<script src="/js/online.js"></script>
</html>