<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <%- include('partials/navigation'); -%>
    <span
      style="font-size: 40px; margin-left: 10px; cursor: pointer"
      onclick="sidebarOpen()"
      >&#9776;</span
    >
    <header style="margin-top: -10px"></header>
    <hr id="hrAfterHeader" />

    <center id="registerContainer" style="height: 900px">
      <form action="/authRegistration" method="post">
        <h1 id="header" style="font-size: 80px;">Register</h1><br>
        <input
          type="text"
          name="username"
          placeholder="Enter your ID"
          style="font-size: 80px; border-radius: 10px;"
          required
        /><br /><br />
        <input
          type="password"
          name="password"
          placeholder="Password"
          style="font-size: 80px; border-radius: 10px;"
          required
        /><br /><br />
        <input
          type="password"
          name="repassword"
          placeholder="Password Again"
          style="font-size: 80px; border-radius: 10px;"
          required
        /><br /><br />
        <button type="submit" value="register" style="font-size: 50px; border-radius: 10px; background-color: white;">Register</button><br />
      </form>
    </center>
    <%- include('partials/footer'); -%>
  </body>
  <%- include('partials/script'); -%>
</html>
