#headerContainer {
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    box-shadow: 0 -6px 10px 5px rgb(0, 0, 0);
}

header {
    height: 10px
}

header img {
    padding: 10px;
    cursor: pointer;
}

header div a {
    text-decoration: none;
    color: #ffffff;
}

header div a:hover,
.username:hover {
    color: rgb(184, 184, 184) !important;
}

.dropdownUsername {
    margin: 0px !important;
}

.dropdownUsername:hover {
    cursor: pointer !important;
}

header span {
    padding: 8px;
    font-size: 40px;
    cursor: pointer;
}

.headerCommentsSelect {
    width: 50%;
    float: right;

}

header span:hover {
    cursor: pointer;
    border-radius: 5px;
}

.sidebarCloseBtn {
    margin-right: 12px;
}

header h2 {
    width: fit-content;
    margin-top: 11px;
    font-size: 40px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 10px;
}

header h2:hover {
    cursor: pointer;
    color: rgb(221, 221, 221);
    border-radius: 5px;
}

.profileSVG {
    cursor: pointer;
    position: absolute;
    right: 57px;
    top: 14px;
}

.dropdown {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 10px;
}

.dropdown-content {
    transition: 0.5s;
    height: 0;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: #000000;
    min-width: 1600px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    border-radius: 20px;
    overflow: hidden;
}

.dropdown-content a {
    margin: 0px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    text-align: center;
    height: 40px;
}

.sidenav {
    height: 0;
    width: 100%;
    top: 10px;
    left: 0;
    margin-top: -10px;
    position: fixed;
    background-color: rgb(0, 0, 0);
    overflow: scroll;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(146, 156, 161);
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidenav a:hover,
.sidenav2 a:hover {
    color: #696969;
}

.sidenav hr {
    border-color: rgb(146, 156, 161);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.headerInput {
    color: white;
    background-color: rgba(146, 156, 161, 0.269);
    border: 1px solid black;
    width: 80%;
    margin: 13px;
    font-size: 16px;
    padding: 21px;
    border-radius: 8px;
}

.headerOptions {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.718);
    position: absolute;
    top: 70px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    font-size: 16px;
    padding: 10px;
    height: 200px;
    background-color: black !important;
    overflow-y: scroll;
    background: white;
    color: black;
    display: none;
}

.headerOptions tr td {
    width: 1%;
}

.headerOptions tr td a {
    min-width: 50%;
}

.headerOptions a {
    color: rgb(146, 156, 161);
    text-decoration: none;
}

.headerOptions a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.sidenavRow {
    display: flex;
}