<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- <script src="dist/src/clients/sub/friendsRequest.ts"></script> -->
<script>
  import { io } from "socket.io-client";
  const socket = io();
  const pendingFriendsRequestTable = document.getElementById(
    "pendingFriendsRequest"
  );
  const sentFriendsRequestTable = document.getElementById("sentFriendsRequest");

  function getCookie(cname) {
    let id = "";
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        for (var j = 9; j < c.substring(name.length, c.length).length; j++) {
          if (c.substring(name.length, c.length)[j] === '"') {
            break;
          } else {
            id += c.substring(name.length, c.length)[j];
          }
        }
        return id;
      }
    }
    return "";
  }

  socket.on("getUsername", () => {
    socket.emit("passBackUsername", getCookie("current-user"));
  });

  socket.on("getFriendsRequestPending", (array) => {
    pendingFriendsRequestTable.innerHTML = "<tbody></tbody>";
    displayPendingFriendsRequestTable(0, array);
  });

  socket.on("updatePendingFriendsRequest", (array) => {
    pendingFriendsRequestTable.innerHTML = "<tbody></tbody>";
    displayPendingFriendsRequestTable(0, array);
  });

  socket.on("getSentFriendsRequestPending", (array) => {
    sentFriendsRequestTable.innerHTML = "<tbody></tbody>";
    displaySentPendingFriendsRequestTable(0, array);
  });

  socket.on("updateSentPendingFriendsRequest", (array) => {
    sentFriendsRequestTable.innerHTML = "<tbody></tbody>";
    displaySentPendingFriendsRequestTable(0, array);
  });

  const acceptFriendsRequest = function (counterpart) {
    socket.emit("acceptFriendsRequest", counterpart, getCookie("current-user"));
    socket.emit(
      "removePendingFriendsRequest",
      counterpart,
      getCookie("current-user")
    );
  };

  const declineFriendsRequest = function (counterpart) {
    socket.emit(
      "removePendingFriendsRequest",
      counterpart,
      getCookie("current-user")
    );
  };

  const displayPendingFriendsRequestTable = function (i, array) {
    if (i < array.length) {
      var row = pendingFriendsRequestTable
        .getElementsByTagName("tbody")[0]
        .insertRow(i)
        .insertCell(0);
      row.innerHTML =
        array[i] +
        `<button style='width: 50px; margin-left: 30px; border-radius: 30px;' id='${array[i]}' onclick='acceptFriendsRequest(this.id)'>O</button><button style='width: 50px; margin-left: 30px; border-radius: 30px;' id='${array[i]}' onclick='declineFriendsRequest(this.id)'>X</button>`;
      displayPendingFriendsRequestTable(i + 1, array);
    }
  };

  const displaySentPendingFriendsRequestTable = function (i, array) {
    if (i < array.length) {
      var row = sentFriendsRequestTable
        .getElementsByTagName("tbody")[0]
        .insertRow(i)
        .insertCell(0);
      row.innerHTML = array[i];
      displayPendingFriendsRequestTable(i + 1, array);
    }
  };
</script>

<!-- <script src="/src/clients/sub/menuBar.ts"></script> -->
<script>
  const sidebarOpen = function () {
    document.getElementById("mySidenav").style.width = "250px";
  };

  const sidebarClose = function () {
    document.getElementById("mySidenav").style.width = "0";
  };
</script>

<!-- <script src="dist/src/clients/sub/profileModal.ts"></script> -->
<script>
  (function showProfileModal() {
    var div = document.createElement("div");

    function getCookie(cname) {
      let id = "";
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(";");
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          for (var j = 9; j < c.substring(name.length, c.length).length; j++) {
            if (c.substring(name.length, c.length)[j] === '"') {
              break;
            } else {
              id += c.substring(name.length, c.length)[j];
            }
          }
          return id;
        }
      }
      return "";
    }

    div.innerHTML = `
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        ${getCookie("current-user")}
                    </h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><a onclick="clickTab1()" id='tab1' style='color: black;'>Received Friends Request</a></li>
                        <li>|</li>
                        <li><a onclick="clickTab3()" id='tab3' style='color: #337ab7;'>Sent Friends Request</a></li>
                        <li>|</li>
                        <li><a onclick="clickTab2()" id='tab2' style='color: #337ab7;'>Settings</a></li>
                    </ul><hr style="width: 598px; margin-left: -15px;">
                    <center>
                        <div style="
                            height: 30vh;
                            min-width: 70%;
                            flex: 0;
                            border: solid;
                            padding: 10px; 
                            border-radius: 5px;
                            overflow-y: scroll;"
                        >
                            <table id="pendingFriendsRequest" class="table table-striped header-fixed"></table>
                            <table id="sentFriendsRequest" class="table table-striped header-fixed" style='display: none;'></table>
                            <b id='settings' style='font-size: 30px; display: none;'></b>
                        </div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default loginBtn" onclick="window.location.href='/login'">
                        Login
                    </button>
                    <form action="/logout" method="post" class='logoutForm'>
                        <button type="submit" value="logout" class="btn btn-default logoutBtn">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
`;

    if (getCookie("current-user") === "Login") {
      div.getElementsByClassName("logoutForm")[0].style.display = "none";
    } else {
      div.getElementsByClassName("loginBtn")[0].style.display = "none";
    }

    document.querySelector("body").appendChild(div);
  })();

  const clickTab1 = function () {
    $("#pendingFriendsRequest").show();
    $("#sentFriendsRequest").hide();
    $("#settings").hide();
    $("#tab1").css("color", "black");
    $("#tab2").css("color", "#337ab7");
    $("#tab3").css("color", "#337ab7");
  };

  const clickTab2 = function () {
    $("#pendingFriendsRequest").hide();
    $("#sentFriendsRequest").hide();
    $("#settings").show();
    $("#tab1").css("color", "#337ab7");
    $("#tab2").css("color", "black");
    $("#tab3").css("color", "#337ab7");
  };

  const clickTab3 = function () {
    $("#sentFriendsRequest").show();
    $("#pendingFriendsRequest").hide();
    $("#settings").hide();
    $("#tab1").css("color", "#337ab7");
    $("#tab2").css("color", "#337ab7");
    $("#tab3").css("color", "black");
  };
</script>
