body {
    background-color: rgb(255, 255, 255);
    /* overflow-y: hidden; */
}

#divScroll a {
    text-decoration: none;
    color: blue;
    font-size: 40px;
}

a:hover {
    color: rgb(37, 37, 37);
    cursor: pointer;
}

center {
    margin-top: -1%;
}

#logo {
    position: absolute;
    top: -25px;
    left: 20px;
    /* background-color: #ff00ff; */
    /* border-style: solid; */
    padding: 9px;
    width: 75px;
    height: 25px;
    font-family: fantasy;
    cursor: pointer;
 }

#loginBtn {
    position: absolute;
    right: 20px;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    top: 13px;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

#userId {
    position: absolute;
    right: 100px;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    top: 15px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
}

#hrAfterHeader {
    margin-top: 53px;
}

#header, #occupationTitle {
    font-family: fantasy;
}

#searchBtn {
    background-color: #ff00aa;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

#output button {
    background-color: rgb(236, 234, 231);
    border: none;
    outline: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

#output button:hover {
    color: #FF0000; 
}

#eachComment p {
    text-align: center;
    width: 100vw;
    overflow-wrap: break-word;
    font-size: 30px;
}

#eachComment button {
    color: #888;
    font-size: 1.5em;
    font-family: 'Heebo', sans-serif;
    background-color: transparent;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    /* margin: 5em 0; */
}

#eachComment button:hover {
    color: indianred;
}

#eachComment button:active {
    transform: scale(0.95);
}

#eachComment button.selected {
    color: #FFF;
    background-color: indianred;
    border-color: indianred;
}

#loginContainer, #registerContainer {
    margin-top: 5%;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    top: 60px;
    border: 3px solid #f1f1f1;
    max-width: 300px;
    max-height: 250px;
    padding-top: 50px;
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-popup .btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
}

.form-popup h2 {
    font-family: fantasy;
}

.menuBar {
    margin-bottom: 50px;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: -50px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: fantasy;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

table td {
    text-align: center;
    font-size: 30px;
}

table td a {
    text-decoration: none;
}

#occupationTable {
    width: 100%;
}

#userInput {
    border-radius: 10px;
    text-align: center;
}