footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
}

footer img {
    margin-top: 10px;
}

footer h3 {
    font-family: fantasy;
    padding: 10px;
}

footer .footerLinksConatiner {
    display: flex;
    justify-content: center;
}

footer .footerLinksConatiner a {
    padding: 10px;
    color: rgb(146, 156, 161);
    text-decoration: none;
    font-family: fantasy;
}

footer .footerLinksConatiner a:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer b {
    font-size: 15px;
    font-family: fantasy;
    color: rgba(255, 255, 255, 0.658);
}

.footerContainer {
    padding: 20px;
}

.footerLinksMoblieContainer {
    display: block !important;
}