footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-left: -10px;
    margin-bottom: -10px;
    height: 500px;
    background-color: black;
}
footer div {
    position: relative;
    top: 30%;
}
footer a {
    font-size: 20px;
    color: rgb(98, 203, 255);
    text-decoration: none;
}
footer a:hover {
    color: rgb(70, 144, 181);
}
footer p,
footer h1 {
    color: white;
}