#headerContainer {
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 70px;
    color: black;
    text-align: center;
    z-index: 99999999999999999 !important;
}

.signInIcon {
    margin-right: -60px;
    position: absolute;
    right: 70px;
    top: 17px;
    cursor: pointer;
}

header {
    height: 10px
}

header div a {
    text-decoration: none;
    color: black;
}

header div a:hover {
    color: rgb(0, 136, 255);
}

.username:hover {
    cursor: auto;
    color: white !important;
}

header span {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 10px;
}

header span:hover {
    color: rgb(88, 88, 88);
}

header h1 {
    font-family: fantasy;
    margin-top: 5px;
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.profileSVG {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.dropdown {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 10px;
}

.dropdown-content {
    /* display: none; */
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    border-radius: 20px;
    
}

.dropdown-content a {
    font-family: fantasy;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 20px;
    border-radius: 20px;
}

.signOutBtn:hover {
    color: rgb(255, 25, 0);
}