.modal-mask {
	position: fixed;
	z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
}

.logoutBtn {
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}

.logoutBtn:hover {
	color: rgb(199, 199, 199);
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 80vw;
	height: 80vh;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: rgb(146, 156, 161);
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.modal-header h3 {
	margin-top: 0;
	margin-left: 1%;
	color: white;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

.modal-header span {
	cursor: pointer;
	color: white;
}

.modal-header span:hover {
	color: rgb(0, 0, 0);
}

.modal-body div div {
	background: rgb(89, 95, 98);
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
	color: white;
	width: 50%;
}

.detailsContainer {
	display: flex;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.modal-footer {
	position: absolute;
	bottom: 0;
	width: 93%;
	padding: 20px;
	margin: 20px;
}

.mobileDetailsContainer div {
	width: 82% !important;
}

.mobileBtn {
	width: 100%;
}

.mobileContainer {
	overflow-y: auto;
}

.mobileFooter {
	display: flex;
	justify-content: center;
	position:relative;
	width: auto;
}