<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header style="height: 10px;">
        <div id="userId" data-toggle="modal" data-target="#myModal"><%= user %></div>
    </header>
    <hr id="hrAfterHeader">

    <center>
        <h1 id="header">Charts</h1><hr>

        <div style="display: flex; padding: 10px; justify-content: center;">
            <div style="height: 70vh; min-width: 40%; flex: 0; background-color: rgb(235, 235, 235); padding: 10px; margin-right: 30px; border-radius: 5px;">
                <table id="mostViewedOccuaptions" class="table table-striped header-fixed"></table>
            </div>
            <div style="height: 70vh; min-width: 40%; flex: 0; background-color: rgb(235, 235, 235); padding: 10px; margin-left: 30px; border-radius: 5px;">
                <table id="mostCommentedOccuaptions" class="table table-striped header-fixed"></table>
            </div>
        </div>
    </center>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/sub/menuBar.js"></script>
<script src="/js/sub/profileModal.js"></script>
</html>