<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comment on your occupation</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        
    <header style="height: 10px;">
        
        <img src="../img/menuBar.png" onclick="sidebarOpen()" alt="menuBar" class="menuBar dropbtn" style="width:70px; height:70px;">
        
        <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; margin-top: -120px;" id="mySidebar">
            <button onclick="sidebarClose()" class="w3-bar-item w3-large">Close &times;</button>
            <a href="http://localhost:3000/home" class="w3-bar-item w3-button" style="background-color: rgb(227, 227, 227);">Home</a>
            <a href="http://localhost:3000/login" class="w3-bar-item w3-button" id="loginTab">Login</a>
            <a href="http://localhost:3000/register" class="w3-bar-item w3-button" id="registerTab">Register</a>
            <a href="http://localhost:3000/online" class="w3-bar-item w3-button">Online</a>
            <a href="http://localhost:3000/chat" class="w3-bar-item w3-button">Chat</a>
            <a href="http://localhost:3000/chart" class="w3-bar-item w3-button">Chart</a>
            <a href="http://localhost:3000/request" class="w3-bar-item w3-button">Request</a>
            <a href="http://localhost:3000/about" class="w3-bar-item w3-button">About</a>
            <a onclick="window.location.href = 'mailto:nikolaikim27@google.com'" class="w3-bar-item w3-button">Contact</a>
        </div>
        
        <div id="userId" onclick="clickProfile()"><%= user %></div>
    </header><hr id="hrAfterHeader">

    <center>
        <h1 id="header">Comment on your occupation</h1>
            <!-- <input type="text" id="userInput" placeholder="Search here">
            <button onclick="searchOccupations()" id="searchBtn">Search</button> -->
            <hr>
        <table id="occupationTable"></table>
    </center>

    <div class="form-popup" id="myForm">
        <center>
            <h2>Your Profile</h2>
            <h4 id="userAccountId"><%= user %></h4>
            <form action="/logout" method="post">
                <button id="logoutBtn" style="margin-top: 20px;">Log out</button>
            </form>
        </center>
    </div>


</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script src="/js/sub/menuBar.js"></script>
<script src="/js/sub/loginBtn.js"></script>
</html>