<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to COYO</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <center>
        <h3 style="position: absolute; left: 50px; margin-top: -50px;">COYO</h3>
        <button id="loginBtn" onclick="directPage('login')" style="position: absolute; right: 50px; margin-top: -50px;">
            Login
        </button>
        <hr style="margin-top: 70px;">
        <h3 id="greetLoggedinUser">
            Welcome back 
            <b id="username"><%= user %></b>
        </h3>
        <p>Get some ideas about the occupation you're intersted in!</p>
        <button onclick="directPage('home')">
            Start
        </button>
    </center>
</body>
<script src="/js/index.js"></script>
</html>