<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

    <header style="height: 10px;"></header>
    <hr id="hrAfterHeader">

    <center id="loginContainer">
        <form action="/auth" method="post">
            <h1 id="header">Login</h1>
            <input type="text" name="username" placeholder="Enter your ID" required><br><br>
            <input type="password" name="password" placeholder="Enter your Password" required><br><br>
            <button type="submit" value="login">Login</button><br>
            <p>Register <a href="/register">here</a>!</p>
        </form>
    </center>

</body>
<script src="/js/sub/menuBar.js"></script>
</html>