.analysisContainer {
    text-align: left;
}

.analysisLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.analysisBothContainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.analysisMostViewedContainer {
    min-width: 100%;
    flex: 0;
    padding: 10px;
    border-radius: 20px;
}

.analysisMostViewedContainer h1 {
    color: white;
}

.analysisEachRow {
    background: rgb(146, 156, 161);
    border-radius: 20px;
    margin: 10px;
    box-shadow: -3px 5px 3px rgb(0, 0, 0);
}

.leftAlign {
    text-align: left !important;
}

.analysisEachRow div {
    padding: 20px;
    color: rgb(255, 255, 255);
}

.analysisEachRow div a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mobileAnalysisMostViewedContainer {
    min-width: auto !important;
    margin-bottom: 15px !important;
}

.mobileAnalysisContainer {
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.analysisCenterChild {
    display: flex;
    justify-content: center;
    text-align: center;
}

.centerAlign {
    text-align: center;
    padding: 0px !important;
}

.analysisCenterChild a {
    width: 33%;
}

.analysisMajorTitle {
    text-decoration: underline !important;
    padding: 5px;
}

.analysisMajorTitle:hover {
    background-color: rgb(130, 130, 130) !important;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    justify-content: center !important;
    height: 50px;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.wrapper .option {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #e4e3e5;
    transition: all 0.7s ease;
    z-index: 6 !important;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: #0a66c2;
    background: #0a66c2;
}

.wrapper .option span {
    font-size: 20px;
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: #fff;
}