#commentBtn {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: #0a66c2;
  width: 100%;
  padding: 10px;
  margin-right: 5px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  /* border: 1px solid rgb(0, 0, 0); */
  border: 1px solid #e4e3e5;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
}

.closeBtn {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: #0a66c2;
  width: 100%;
  margin-left: 5px;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  /* border: 1px solid rgb(0, 0, 0); */
  border: 1px solid #e4e3e5;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
}

#userInput {
  font-size: 16px;
  text-align: left;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #e4e3e5;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  /* border-color: black; */
  width: 100%;
  border-radius: 20px;
  resize: none;
  height: 150px !important;
}

#container {
  margin-top: 85px;
  text-align: center;
  margin-bottom: 30px;
}

#ipnutContainer {
  margin: 10px;
}

.eachCommentDiv {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  border: 1px solid #e4e3e5;
  padding: 10px;
  margin: 10px;
  width: auto;
  /* background-color: rgb(146, 156, 161); */
  border-radius: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.username,
.replyUsername {
  /* font-weight: bold; */
  /* color: rgb(255, 255, 255); */
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: #0a66c2;
}

.username:hover,
.replyUsername:hover {
  /* background-color: rgb(212, 212, 212) !important; */
  /* color: black !important; */
  border-radius: 5px;
  cursor: pointer;
}

.commentButtonContainer {
  display: flex;
  justify-content: center;
}

.comment {
  display: flex;
  /* color: rgb(255, 255, 255); */
  margin: 10px;
  text-align: left;
  /* font-size: 24px; */
}

.usernameDateContainer {
  display: flex;
}

.replyUsername {
  margin: 10px;
}

.replyDate {
  margin-top: 15px !important;
}

.date {
  font-size: 16px;
  font-weight: lighter;
  /* color: rgba(255, 255, 255, 0.589); */
  margin: 12px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.firstRow svg {
  cursor: pointer;
  position: absolute;
  right: 3px;
}

.lastRow {
  display: flex;
  justify-content: flex-end;
}

.replySvg {
  margin-right: 5px !important;
}

.replyParagraph {
  display: flex;
  /* color: rgb(255, 255, 255); */
  margin: 0px;
  text-align: left;
  /* font-size: 20px; */
  padding: 20px;
  margin-top: -20px;
}

.like {
  display: flex;
  text-align: center;
}

.like,
.reply,
.viewReply {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  /* font-size: 16px; */
  margin: 10px;
  border: 1px solid;
  color: #0a66c2;
  /* background-color: rgba(255, 255, 255, 0.478); */
  /* color: rgb(255, 255, 255); */
  border-radius: 20px;
  width: auto;
  /* color: white; */
  cursor: pointer;
  /* padding: 10px; */
  /* border-color: rgb(146, 156, 161); */
  border: 1px solid #e4e3e5;
  background-color: white;
}

.replyContainer,
.viewReplyContainer {
  display: none;
}

.replyContainers {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  /* color: white; */
  /* background-color: rgb(89, 95, 98); */
   /* border: 1px solid; */
  /* text-align: left; */
  border-radius: 20px;
  margin: 5px;
  /* padding: 10px; */
  border: 1px solid #e4e3e5;
  background: white;
}

.replyContainer textarea {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  border: 1px solid #e4e3e5;
  font-size: 16px;
  /* border-color: black; */
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
   /* border: 1px solid; */
  height: 100px !important;
  resize: none;
}

.replyContainer button,
.editBtn,
.editCancelBtn,
.editReplyBtn {
  /* font-size: 16px; */
  width: 30%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  background: white;
  /* color: rgb(255, 255, 255); */
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  border: 1px solid #e4e3e5;
}

.editReplyBtn {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  border: 1px solid #e4e3e5;
  color: #0a66c2;
  /* border-color: rgb(89, 95, 98) !important; */
}

button:hover,
#commentBtn:hover {
  cursor: pointer;
}

.commentDropdown {
  cursor: pointer;
  position: absolute;
  right: 23px;
}

.replyDropdown {
  margin: 0 !important;
  background-color: transparent !important;
  cursor: pointer;
  position: absolute;
  right: 27px;
}

.comment-dropdown-content {
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #000000 !important;
  top: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  border-radius: 20px;
}

.reply-dropdown-content {
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #000000 !important;
  top: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  border-radius: 20px;
}

.commentLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.height {
  height: 116px;
}

.editContainer {
  display: none;
}

.replyEditContainer {
  display: none;
}

.closeEditBtn {
  display: none;
  margin: 3px;
}

.comment-dropdown-content a {
   
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 15px;
  border-radius: 20px;
}

.reply-dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 8px 16px !important;
  text-decoration: none !important;
  font-size: 18px !important;
  display: block !important;
  padding: 15px !important;
  border-radius: 20px !important;
}

.commentEditTextarea {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
  height: 100px !important;
  resize: none;
}

.replyEditTextarea {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  border-radius: 20px;
  text-align: left;
  height: 100px !important;
  resize: none;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  border: 1px solid #e4e3e5;
}

.replyDropdown svg {
  cursor: pointer;
  position: absolute;
  right: 12px !important;
  top: 4px;
}

.closeReplyEditBtn {
  display: none;
  margin: 3px;
}