.mainImage {
    width: 97%;
    height: 70%;
    z-index: -10000;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #e4e3e5;
}

.homeContainer {
    margin-top: 85px;
    text-align: center;
    overflow-y: scroll;
}

.homeRecentCommentHeaderTitle {
    font-weight: bold;
}

.homeRecentCommentHeader,
.homeMajorNameAndCount {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.homeUsernameAndDate {
    display: flex;
}

.homeDirect {
    color: #0a66c2;
    text-decoration: none;
}

.homeLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }

.homeDate {
    color: rgba(0, 0, 0, 0.589);
    font-weight: lighter;
    font-size: 16px;
    margin-top: 7px !important;
    width: 100px !important;
}

.homeUsernameAndDate a {
    padding: 5px;
    margin: 7px;
    overflow-y: hidden;
    height: 17px;
    overflow-x: scroll;
}

.homeUsername {
    color: #0a66c2;
    text-decoration: none;
}

.homeRecentCommentContainer {
    padding: 10px;
    text-align: left;
}

.homeRecentCommentContainer p {
    margin: 10px;
}

.homeEachRecentComment {
    color: rgb(0, 0, 0);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
    border-radius: 20px;
    border: 1px solid #e4e3e5;
    padding: 10px;
    margin: 10px;
}