.homeDescriptionContainer {
    text-align: center;
    margin-bottom: 35px;
}

.homeDescriptionContainer svg {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: -3px 5px 3px rgb(0 0 0 / 30%);
}

.homeDescriptionContainer svg:hover {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background: rgb(146, 156, 161);
    cursor: pointer;
}

.mainImage {
    width: 97%;
    height: 70%;
    z-index: -10000;
    border-radius: 20px;
    box-shadow: -3px 5px 3px rgb(0 0 0 / 30%);
}

.homeContainer {
    margin-top: 85px;
    text-align: center;
    overflow-y: scroll;
}

.homeDescriptionExplanation {
     margin-top: 10px;
}