.profileContainer {
    text-align: left;
}

.profileBothContainer {
    margin-top: 85px;
    display: flex;
    padding: 1%;
    justify-content: center;
}

.profileMobileContainer h2 {
    margin-top: 20px;
}

.profileUserDetailsDesktopContainer {
    display: flex !important;
    justify-content: center;
}

.profileUserDetailsDesktopContainer div {
    width: 25%;
}

.profileUserDetailsMobileContainer div {
    justify-content: left !important;
}

.profileUserDetailsContainer div {
    display: flex;
    justify-content: center;
}

.profileUserDetailsContainer div svg {
    padding-top: 10px;
    margin-right: 15px;
}

.profileUserDetailsContainer {
    text-align: left !important;
}

.profileUserDetailsContainer p {
    text-align: left !important;
    overflow-x: scroll;
    width: 80%;
}

.profileUsernameContainer svg {
    margin: 14px;
}

.profileUsernameContainer {
    justify-content: center;
}

.profileLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.profileMostViewedContainer {
    flex: 0;
    border-radius: 20px;
    min-width: 100%;
}

.profileMostCommentedPages {
    overflow-y: scroll;
    height: 70vh;
    overflow-x: hidden;
}

.profileEachRow {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #e4e3e5;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.profileEachRow div {
    padding: 10px;
}

.profileEachRow a {
    text-decoration: none;
    overflow: scroll;
}

.userDetailContainer {
    display: flex;
    overflow-x: scroll;
    margin: 20px;
}

.profileEachRow p {
    text-align: center;
    width: max-content;
    overflow: hidden;
}

.profileDesktopHeader {
    margin: 20px;
}

.profileEachRow p a:hover {
    border-radius: 5px;
}

.profileEachRow p a {
    color: #0a66c2;
    padding: 5px;
    margin-left: -4px;
}

.profileMobileMostViewedContainer {
    margin-bottom: 15px !important;
    margin-top: 85px !important;
}

.profileMobileContainer {
    min-width: auto !important;
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.snsContainer {
    display: flex;
    justify-content: center;
}

.snsContainer a {
    text-decoration: none;
    color: blue;
}