.requestMainContainer {
    margin-top: 85px !important;
    /* background-color:rgb(146, 156, 161); */
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.requestEachContainer input {
    font-size: 16px;
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
     color: white;
    background: rgba(255, 255, 255, 0.478);
    box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
    border: 1px solid rgb(146, 156, 161);
}

.requestEachContainer button {
    display: inline-block;
    background: #ffffff;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.478);
    box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
    border: 1px solid rgb(146, 156, 161);
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.requestEachContainer button:hover {
    cursor: pointer;
}

.requestDesktopEachContainer {
    margin: 30px !important;
    padding: 30px !important;
}

.requestEachContainer {
    background-color: rgb(146, 156, 161);
    box-shadow: -3px 5px 3px rgb(0, 0, 0);
    align-items: center;
    /* background: #595f62; */
     /* border: 1px solid white; */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.requestEachContainer h3 {
    margin-left: 20px;
    color: rgb(255, 255, 255);
     
}

.requestSelect {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
     color: white;
    background: rgba(255, 255, 255, 0.478);
    box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
    border: 1px solid rgb(146, 156, 161);
}

.requestCenterChild {
    display: flex; 
    justify-content:center;
}