.settingEachContainer input {
    font-size: 16px;
    width: 90%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    /* color: white; */
    background-color: white;
    border: 1px solid #e4e3e5;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
}

.settingEachContainer select {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    /* color: white; */
    background-color: white;
    border: 1px solid #e4e3e5;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
}

.backgroundContainer {
    margin-top: 85px !important;
    /* margin-left: 20px !important;
    margin-right: 20px !important; */
    margin-bottom: 20px !important;
    /* padding: 5px !important; */
}

.settingEachContainer button {
    display: inline-block;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid #e4e3e5;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
    width: 100%;
    margin: 10px;
    padding: 20px;
    color: #0a66c2;
}

.settingEachContainer button:hover {
    cursor: pointer;
}

.settingEachContainer {
    background-color: white;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #e4e3e5;
    min-width: 45%;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.settingDesktopEachContainer {
    padding: 30px !important;
    margin: 30px !important;
}

.settingEachContainer h3 {
    margin-left: 20px;
    color: #0a66c2;
}

.settingMobileContainer {
    overflow: hidden;
    min-width: auto !important;
    padding: 10px;
    border-radius: 20px;
}

.settingMobileContainer div input {
    width: 100% !important;
}

.settingCenterChild {
    display: flex;
    justify-content: center;
}

.settingLoader {
    display: flex;
    justify-content: center;
}