.settingEachContainer input {
    font-size: 16px;
    width: 90%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    border: 1px solid rgb(146, 156, 161);
    box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
    background-color: rgba(255, 255, 255, 0.478);
}

.settingEachContainer select {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
    border: 1px solid rgb(146, 156, 161);
    background-color: rgba(255, 255, 255, 0.478);
}

.backgroundContainer {
    margin-top: 85px !important;
    /* margin-left: 20px !important;
    margin-right: 20px !important; */
    margin-bottom: 20px !important;
    /* padding: 5px !important; */
}

.settingEachContainer button {
    display: inline-block;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.478);
    box-shadow: -3px 5px 3px rgb(0 0 0 / 50%);
    border: 1px solid rgb(146, 156, 161);
    width: 100%;
    margin: 10px;
    padding: 20px;
    color: white;
}

.settingEachContainer button:hover {
    cursor: pointer;
}

.settingEachContainer {
    background-color: rgb(146, 156, 161);
    box-shadow: -3px 5px 3px rgb(0, 0, 0);
    min-width: 45%;
    align-items: center;
     /* border: 1px solid; */
    /* background: #595f62; */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.settingDesktopEachContainer {
    padding: 30px !important;
    margin: 30px !important;
}

.settingEachContainer h3 {
    margin-left: 20px;
    color: rgb(255, 255, 255);
     
}

.settingMobileContainer {
    overflow: hidden;
    min-width: auto !important;
    padding: 10px;
    /*  border: 1px solid; */
    /* background:rgb(146, 156, 161); */
    border-radius: 20px;
    /* margin: 10px; */
    /* margin-bottom: 30px; */
}

.settingMobileContainer div input {
    width: 100% !important;
}

.settingCenterChild {
    display: flex;
    justify-content: center;
}

.settingLoader {
    display: flex;
    justify-content: center;
}