.userOnlineDiv {
  flex: 0;
  border-radius: 20px;
  min-width: 100% !important;
  
}

.userLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.userOnlineHead {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px !important;
}

.userOnlineHead div {
  padding: 10px;
  color: white;
  font-size: 30px;
  width: 20%;
  text-align: center;
}

.userOnlineBody {
  justify-content: center;
  padding: 10px;
}

.userContainer {
  margin-top: 80px;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  overflow: hidden;
   
}

.userEachRow {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
  border: 1px solid #e4e3e5;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  overflow: scroll;
}

.userRow {
  justify-content: center;
  display: flex;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.userRow div {
  box-shadow: -3px 5px 3px rgb(0, 0, 0);
  background-color: grey;
  margin: 10px !important;
  border-radius: 20px;
  padding: 10px;
  height: 50px;
  margin: 10px;
}

.userRow div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.userRow div a:hover {
  background-color: rgb(130, 130, 130) !important;
  cursor: pointer;
  border-radius: 5px;
}

.userMostViewedContainer {
  min-width: 40%;
  flex: 0;
  padding: 10px;
}

.mobileUserMostViewedContainer {
    margin-top: 85px !important;
    margin-bottom: 15px !important;
}

.userAlignChild svg {
  margin-top: 5px;
}

.userAlignChild {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  height: 50px;
}

.userAlignChild a {
  margin-top: 5px;
  margin: 10px;
  height: 40px;
  text-align: right;
  width: 70%;
  overflow: scroll;
}

.userMobileUsername a:hover {
  cursor: pointer;
}

.userMobileUsername {
  color: #0a66c2;
  text-decoration: none;
  cursor: pointer;
}

.userInputText {
    font-size: 16px;
    width: 100%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #e4e3e5;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
}

.userInputContainer {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.userMobileInputContainer {
  display: flex;
  justify-content: center;
}