.userOnlineDiv {
  flex: 0;
  border-radius: 20px;
  min-width: 100% !important;
  
}

.userLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.userOnlineHead {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px !important;
}

.userOnlineHead div {
  padding: 10px;
  color: white;
  font-size: 30px;
  width: 20%;
  text-align: center;
}

.userOnlineBody {
  justify-content: center;
  padding: 10px;
}

.userContainer {
  margin-top: 80px;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  overflow: hidden;
   
}

.userEachRow {
  box-shadow: -3px 5px 3px rgb(0, 0, 0);
  /* font-size: 16px; */
  padding: 10px;
  display: flex;
  margin: 10px;
  background: rgb(146, 156, 161);
  border-radius: 20px;
  overflow: scroll;
}

.userRow {
  justify-content: center;
  display: flex;
  padding: 10px;
  color: rgb(255, 255, 255);
  width: 100%;
}

.userRow div {
  box-shadow: -3px 5px 3px rgb(0, 0, 0);
  background-color: grey;
  margin: 10px !important;
  border-radius: 20px;
  width: 16%;
  padding: 30px;
  text-align: center;
  margin: auto;
}

.userRow div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.userRow div a:hover {
  background-color: rgb(130, 130, 130) !important;
  cursor: pointer;
  border-radius: 5px;
}

.userMostViewedContainer {
  min-width: 40%;
  flex: 0;
  padding: 10px;
}

.mobileUserMostViewedContainer {
    margin-top: 85px !important;
    margin-bottom: 15px !important;
}

.userAlignChild {
  box-shadow: -3px 5px 3px rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(145, 145, 145);
  margin: 10px;
  border-radius: 20px;
}

.userAlignChild a {
  margin-top: 5px;
  width: 80%;
  overflow-x: scroll;
  color: rgb(255, 255, 255);
  margin: 10px;
}

.userMobileUsername {
  text-decoration: underline !important;
}

.userInputText {
    font-size: 16px;
    width: 100%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
     border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    border-color: black;
}

.userInputContainer {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.userMobileInputContainer {
  display: flex;
  justify-content: center;
}